.stream
{
padding: 10px 10px 10px 10px;
border-bottom: 1px solid #DAD3D3;
}

.img-test{
float: left;
margin: 0px 10px 0px 0px;
-moz-transform:scale(0.5);
-webkit-transform:scale(0.5);
 transform:scale(0.5);
 background-image:url('../images/ajax-loader.gif') no-repeat;
}

.heading
{
    color:White;
}

.cursor
{
  cursor: pointer; 
  cursor: hand; 
}